@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 9% 16%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 181.7 59.3% 34.7%;
    --primary-foreground: 0 0% 100%;
    --primary-light: 194 22% 85%;
    --primary-light-foreground: 0 0% 0%;
    --secondary: 182 32% 54%;
    --secondary-foreground: 0 0% 100%;
    --tertiary: 191 77% 22%;
    --tertiary-foreground: 0 0% 100%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 40 100% 49%;
    --accent-foreground: 0 0% 100%;
    --success: 155 59% 35%;
    --success-foreground: 0 0% 100%;
    --warning: 40 100% 49%;
    --warning-foreground: 0 0% 100%;
    --destructive: 0 64.3% 54.9%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 89%;
    --input: 0 0% 89%;
    --ring: 181.7 59.3% 34.7%;
    --radius: 0.4rem;
  }

  .dark {
    --background: 220 13% 18%;
    --foreground: 0 0% 100%;
    --card: 220 13% 18%;
    --card-foreground: 0 0% 100%;
    --popover: 220 13% 18%;
    --popover-foreground: 0 0% 100%;
    --primary: 181.7 59.3% 34.7%;
    --primary-foreground: 0 0% 100%;
    --primary-light: 194 22% 85%;
    --primary-light-foreground: 0 0% 0%;
    --secondary: 182 32% 54%;
    --secondary-foreground: 0 0% 100%;
    --tertiary: 191 77% 22%;
    --tertiary-foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63%;
    --accent: 40 100% 49%;
    --accent-foreground: 0 0% 100%;
    --success: 155 59% 35%;
    --success-foreground: 0 0% 100%;
    --warning: 40 100% 49%;
    --warning-foreground: 0 0% 100%;
    --destructive: 0 64.3% 54.9%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 181.7 59.3% 34.7%;
    --radius: 0.4rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
