@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #248a8d;
    --secondary: #65adaf;
    --tertiary: #0d5262;
    --accent: #f9a800;
    --accent-secondary: #fef9ee;
    --important: #d64242;
    --black: #222;
    --dark: #25252c;
    --dark-hard: #1c1c1c;
    --white: #ffffff;
    --lightgray: #f9f9f9;
    --lightgray-secondary: #f5f5f5;
    --inactive: #b1b1b1;
    --fond-yellow: #fceed0;
    --filter: #fff7e5;
    --chat-selected: #fff7e5;
    --fond-blue: #ddebec;
    --fond-gray: #e1e1e1;
    --light-gray-third: #bebec0;
    --border-gray: #dbdbdb;
    --skeleton: #f5f5f5;
    --background: #d0dde1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@layer base {
}

.scrollbar-primary {
  scrollbar-color: var(--primary) var(--lightgray) !important;
}

select.classic {
  background-image: linear-gradient(45deg, transparent 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, transparent 50%),
    linear-gradient(to right, #f5f5f5, #f5f5f5) !important;
  background-position:
    calc(1em + 20px),
    calc(100% - 100px) calc(1em + 200px),
    calc(100% + 6px) 50% !important;
  background-size:
    4px 4px,
    4px 4px,
    2em 2em !important;
  background-repeat: no-repeat !important;
}

input[type='date'] {
  background-image: linear-gradient(45deg, transparent 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, transparent 50%),
    linear-gradient(to right, #f5f5f5, #f5f5f5) !important;
  background-position:
    calc(1em + 20px),
    calc(100% - 100px) calc(1em + 200px),
    calc(100% - 10px) 50% !important;
  background-size:
    4px 4px,
    4px 4px,
    2em 2em !important;
  background-repeat: no-repeat !important;
}

.strokeAccent path {
  stroke: var(--accent) !important;
}

input[type='date']::-webkit-calendar-picker-indicator {
  margin-left: 30px !important;
}

input[type='search']::-webkit-search-cancel-button {
  display: none !important;
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.article-img-size {
  max-width: 100% !important;
  margin-left: 20px;
}

/* Responsive */
@media (min-width: 1024px) {
  .article-img-size {
    max-width: 55% !important;
  }
}
